<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Books Management</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	 <style type="text/css">
	 .topright {
			  position: absolute;
			  top: 8px;
			  right: 16px;
			  font-size: 18px;
			  padding-right:150px;
			   margin-right:10px;
			}
	 
	 </style>
</head>
<body>

<!-- <span class="topright text-white "th:text="${Loginform.username}" >Welcome</span>  -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Book Management System</a>
<p class="topright text-white"  >Welcome  </p>
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/books}">Book
						Management</a></li>
			</ul>
		</div>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<h1>List Books</h1>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/books/new}" class="btn btn-primary btn-sm mb-3">
					Add Books</a>
			</div>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Book Code</th>
					<th>Book Name</th>
					<th>Author</th>
					<th>Data Added</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="student: ${books}">
					<td th:text="${student.Bookcode}"></td>
					<td th:text="${student.Bookname}"></td>
					<td th:text="${student.Author}"></td>
					<td th:text="${student.Dataadded}"></td>
					<td><a th:href="@{/books/edit/{Bookcode}(Bookcode=${student.Bookcode})}"
						class="btn btn-primary">Edit</a> <a
						th:href="@{/books/{Bookcode}(Bookcode=${student.Bookcode})}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>